ul{
    display: flex;
    flex-direction: row-reverse;
    background-color: lightsteelblue;
    list-style: none;
}
li{
    padding: 15px 10px 15px 10px;
}
li:hover{
    text-decoration: underline;
    background-color: lightslategray;
}
h1{
    text-align: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 50px;
}
.principal{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}

form{
    width: 30vw;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}
input, select, button{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 0;
}

select{
    background-color: white;
}
input, select{
    padding-left: 15px;
}
#enviar{
    margin: 15px 0 15px 0;
    background-color: rgb(76, 175, 80);
    color: white;
}
#limpar{
    background-color: rgb(255, 193, 7);
    color: white;
}
#enviar:hover,#limpar:hover{
    border: 1px solid darkslategrey;
    cursor: pointer;
}

.tabela{
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td{
    padding: 10px;
}
.primeiraLinhaTab{
    background-color: rgb(4, 170, 109);
    color: white;
}